body {
    margin-top: 5%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(
        45deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #ffffff;
}

#header {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: -5px 5px 10px rgb(69, 69, 69);
}

input[type='number'] {
    font-size: 2rem;
    border-radius: 5px;
    border-style: hidden;
    text-align: center;
    margin-left: 5px;
}

form {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
}

button {
    font-size: 2rem;
    border-radius: 5px;
    margin-left: 10px;
}

#game {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 650px) {
    #game {
        width: 100%;
    }
}

@media (min-width: 900px) {
    #game {
        width: 50%;
    }
}

/* The following CSS styles and animates each card element added to the DOM */
.cardContainer {
    width: 195px;
    height: 275px;
    margin: 10px;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.cardFlip {
    transform: rotateY(180deg);
}

.card:hover {
    bottom: 5px;
}

.cardFace {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: -10px 10px 10px rgb(69, 69, 69);
}

.front {
    background-image: url('./monkeyCardBack.jpg');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid black;
    border-radius: 12px;
}

.back {
    border: 2px solid black;
    border-radius: 8px;
    transform: rotateY(180deg);
}
